<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 -9.81">

	<robot name="DLR_TORO">
		<model dir="./resources" path="toro.urdf" name="DLR_TORO" />
	</robot>

	<robot name="punching_bag">
		<model dir="./resources" path="punching_bag.urdf" name="punching_bag" />
		<origin xyz="0.82 0 0.84" rpy="1.57079632679 0 1.57079632679" /> <!-- <forward from Toro, left of Toro, up> -->
	</robot>

	<robot name="env">
		<model dir="./resources" path="environment.urdf" name="env" />
		<origin xyz="0 0 0.84" /> <!-- should match punching_bag! (line 11) -->
	</robot>

	<light name="light1" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="-2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="1 3 1" />
		<vertical xyz="0.0 0.0 2.0" />
		<lookat xyz="0.5 0.0 0.0" />
	</camera>

</world>
